<li class="list-group-item">
	<%= link_to s.user do %>
		<%= icon('fas', 'user-circle') %> <%= s.user.name %> @<%= s.user.username %>
	<% end %>
	<%= render "partials/stream_dropdown", s: s %>
	<div>
		<%= s.stream_start.strftime('%A') %> &nbsp;
		<%= s.stream_start.in_time_zone(current_user.time_zone).strftime('%I:%M %p') %> - <%= s.stream_end.in_time_zone(current_user.time_zone).strftime('%I:%M %p') %>
	</div>
</li>