<div class="row">
	<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-10 offset-1">
		<%= form_for(@user) do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control form-control-sm" %>

			<%= f.label :username %>
			<%= f.text_field :username, class: "form-control form-control-sm" %>

			<%= f.label :email %>
			<%= f.email_field :email, class: "form-control form-control-sm" %>

			<%= f.label :password %>
			<%= f.password_field :password, class: "form-control form-control-sm" %>

			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, class: "form-control form-control-sm" %>

			<%= f.submit "submit", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>