<%= form_for(@stream) do |f| %>
	<div class="form-group form-row">
		<%= f.label :stream_day, class: "col-8" %>
		<%= f.select :stream_day, options_for_days, class: "col-4 form-control form-control-sm" %>
	</div>

	<div class="form-group form-row">
		<%= f.label :stream_start, class: "col-8" %>
		<%= f.time_field :stream_start, :ignore_date => true, class: "col-4 form-control form-control-sm" %>
	</div>

	<div class="form-group form-row">
		<%= f.label :stream_end, class: "col-8" %>
		<%= f.time_field :stream_end, options: { :ignore_date => true }, class: "col-4 form-control form-control-sm" %>
	</div>

	<%= f.submit "submit", class: "btn btn-primary" %>
<% end %>